<html>
    <head>
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <h1>{{.Title}}</h1>
        <h5><div class="description">{{.ResponseMessage}}</div></h1>
        <h5><div class="method">HTTPMethod = {{.HTTPMethod}} // {{.URLAPI}}</div></h1>
        <h5><div class="postName">PostName = {{.PostName}}</div></h1>
        <table>
            <tbody>
                {{range $index, $one := .ListStudent}}
                    <tr>
                        <td>{{addInt $index 1}}</td>
                        <td>{{$one.ID}}</td>
                        <td>{{$one.Name}}</td>
                        <td>{{$one.Grade}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>
