<html>
    <head>
        <title>Belajar Golang - cekurl</title>
        <style>
            table, td {
                border: 1px solid #ccc;
                padding:5px;
            }
            table {
                border-radius: 4px;
                background-color: linen;
            }
            td {
                background-color: #fff;
            }
        </style>
    </head>
    <body>
        <h1>Template Belajar Golang: CekURL</h1>
        <table>
            <tbody>
                <tr><td>URL</td><td>{{.Url}}</td></tr>
                <tr><td>Protocol</td><td>{{.Protocol}}</td></tr>
                <tr><td>R Host</td><td>{{.Rhost}}</td></tr>
                <tr><td>Path</td><td>{{.Path}}</td></tr>
                <tr><td>Name</td><td>{{.Name}}</td></tr>
                <tr><td>Age</td><td>{{.Age}}</td></tr>
            </tbody>
        </table>
    </body>
</html>
