<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
        <link rel="stylesheet" href="/static/css/style.css"></link>
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </head>
    <body>
        <h1>Title Besar {{.title}}</h1>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $one := .list_student}}
                    <tr>
                        <td>
                            {{call $.addInt $index 1}}
                        </td>
                        <td>{{$one.id}}</td>
                        <td>{{$one.name}}</td>
                        <td>{{$one.age}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </body>
</html>